{% extends "layout.html" %}

{% block title %}Editar Produto{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold text-gray-900">Editar Produto</h1>

<div class="mt-6 bg-white shadow sm:rounded-lg">
  <form action="{{ url_for('edit_product', id=produto.id) }}" method="POST">
    <div class="px-4 py-5 sm:p-6">
      <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        
        <div class="sm:col-span-4">
          <label for="nome" class="block text-sm font-medium leading-6 text-gray-900">Nome do Produto</label>
          <div class="mt-2">
            <input type="text" name="nome" id="nome" value="{{ produto.nome }}" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="preco" class="block text-sm font-medium leading-6 text-gray-900">Preço (R$)</label>
          <div class="mt-2">
            <input type="number" step="0.01" name="preco" id="preco" value="{{ produto.preco }}" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="link" class="block text-sm font-medium leading-6 text-gray-900">Link do Produto</label>
          <div class="mt-2">
            <input type="text" name="link" id="link" value="{{ produto.link }}" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

      </div>
    </div>
    <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
      <a href="{{ url_for('produtos') }}" class="text-sm font-semibold leading-6 text-gray-900">Cancelar</a>
      <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Salvar Alterações</button>
    </div>
  </form>
</div>
{% endblock %}
